# First we need to use API

In [9]:
import os
import requests
import pandas as pd
import datetime as dt

api_key = os.getenv("API_KEY")

In [10]:
params = {
    "q": "Paris,fr",
    "appid": api_key,
}

response = requests.get(f'https://api.openweathermap.org/data/2.5/weather', params=params)
print(response.json())

{'coord': {'lon': 2.3488, 'lat': 48.8534}, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01d'}], 'base': 'stations', 'main': {'temp': 284.94, 'feels_like': 283.48, 'temp_min': 283.77, 'temp_max': 286.62, 'pressure': 1025, 'humidity': 50}, 'visibility': 10000, 'wind': {'speed': 7.72, 'deg': 60}, 'clouds': {'all': 0}, 'dt': 1680531487, 'sys': {'type': 2, 'id': 2041230, 'country': 'FR', 'sunrise': 1680499491, 'sunset': 1680546168}, 'timezone': 7200, 'id': 2988507, 'name': 'Paris', 'cod': 200}

### Use a loop for making calls

In [11]:
# We need to store the data in a list
villes = []
latitudes = []
longitudes = []
temperatures = []
temperatures_ressenties = []
temperatures_min = []
temperatures_max = []
pressions = []
humidites = []
vitesses_vent = []
directions_vent = []
levers_soleil = []
couchers_soleil = []

In [12]:
# List of cities
cities = ["Paris", "Marseille", "Lyon", "Toulouse", "Nice", "Nantes", "Strasbourg", "Montpellier", "Bordeaux", "Lille", "Rennes", "Reims", "Caen", "Saint-Étienne", "Toulon", "Grenoble", "Dijon", "Angers", "Ajaccio", "Saint-Denis"]

# Loop over cities
for city in cities:
    params = {
        "q": f"{city},fr",
        "lang": "fr",
        "appid": api_key,
        "units": "metric"
    }
    response = requests.get(f'https://api.openweathermap.org/data/2.5/weather', params=params)
    data = response.json()
    
    
    # List of columns and values
    ville = data['name']
    latitude = data['coord']['lat']
    longitude = data['coord']['lon']
    temperature = data['main']['temp']
    pression = data['main']['pressure']
    humidite = data['main']['humidity']
    vitesse_vent = data['wind']['speed']
    direction_vent = data['wind']['deg']
    lever_soleil = pd.to_datetime(data["sys"]["sunrise"], unit="s")
    coucher_soleil = pd.to_datetime(data["sys"]["sunset"], unit="s")
    
    
    # Append values to lists
    villes.append(ville)
    latitudes.append(latitude)
    longitudes.append(longitude)
    temperatures.append(temperature)
    pressions.append(pression)
    humidites.append(humidite)
    vitesses_vent.append(vitesse_vent)
    directions_vent.append(direction_vent)
    levers_soleil.append(lever_soleil)
    couchers_soleil.append(coucher_soleil)

### Insert these values in a dataframe

In [13]:
df = pd.DataFrame({
    "villes": villes,
    "latitudes": latitudes,
    "longitudes": longitudes,
    "temperatures": temperatures,
    "pression": pressions,
    "humidité": humidites,
    "vitesses_vent": vitesses_vent,
    "directions_vent": directions_vent,
    "levers_soleil": levers_soleil,
    "couchers_soleil": couchers_soleil,
})

In [14]:
df

,villes,latitudes,longitudes,temperatures,pression,humidité,vitesses_vent,directions_vent,levers_soleil,couchers_soleil
0,Paris,48.8534,2.3488,12.03,1025,49,7.72,60,2023-04-03 05:24:51,2023-04-03 18:22:48
1,Marseille,43.3333,5.5000,17.69,1009,37,3.58,320,2023-04-03 05:16:58,2023-04-03 18:05:29
2,Lyon,45.7500,4.5833,7.91,1018,74,1.34,36,2023-04-03 05:18:42,2023-04-03 18:11:05
3,Toulouse,43.6043,1.4437,13.09,1019,62,6.17,310,2023-04-03 05:32:58,2023-04-03 18:21:56
4,Nice,44.0000,7.2500,8.74,1010,58,2.72,211,2023-04-03 05:09:27,2023-04-03 17:58:59
5,Nantes,47.1667,-1.5833,9.22,1024,71,4.63,40,2023-04-03 05:42:06,2023-04-03 18:37:00
6,Strasbourg,48.5834,7.7430,7.93,1025,49,7.20,60,2023-04-03 05:03:34,2023-04-03 18:00:56
7,Montpellier,43.6109,3.8772,18.18,1012,38,6.69,20,2023-04-03 05:23:14,2023-04-03 18:12:11
8,Bordeaux,44.8404,-0.5805,14.15,1020,54,4.12,50,2023-04-03 05:40:04,2023-04-03 18:31:01
9,Lille,50.6330,3.0586,11.45,1027,42,5.66,50,2023-04-03 05:20:16,2023-04-03 18:21:42
10,Rennes,48.1667,-1.6667,11.04,1024,62,2.57,90,2023-04-03 05:41:32,2023-04-03 18:38:14
11,Reims,49.1667,4.0833,10.88,1025,50,5.66,60,2023-04-03 05:17:38,2023-04-03 18:16:09
12,Caen,49.0833,-0.4167,10.12,1026,62,4.12,40,2023-04-03 05:35:41,2023-04-03 18:34:05
13,Saint-Étienne,45.4167,4.5000,5.58,1018,75,4.47,359,2023-04-03 05:19:18,2023-04-03 18:11:08
14,Toulon,43.1167,5.9333,18.53,1008,55,7.72,230,2023-04-03 05:15:24,2023-04-03 18:03:35
15,Grenoble,45.0833,5.8333,1.98,1017,92,2.75,341,2023-04-03 05:14:15,2023-04-03 18:05:32
16,Dijon,47.3167,5.0167,8.94,1021,66,5.66,40,2023-04-03 05:15:37,2023-04-03 18:10:42
17,Angers,47.4667,-0.5500,13.22,1023,47,5.32,51,2023-04-03 05:37:43,2023-04-03 18:33:07
18,Ajaccio,42.0000,8.9167,17.99,1007,40,1.54,210,2023-04-03 05:04:19,2023-04-03 17:50:48
19,Saint-Denis,48.9167,2.3333,12.08,1025,48,7.72,60,2023-04-03 05:24:51,2023-04-03 18:22:55

In [ ]:
df.to_csv("meteo.csv", index=False)